
<div class="container">
  <h1>Super Heroes</h1>
  <hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Heroe</th>
        <th scope="col">Alter Ego</th>
        <th scope="col">Casa</th>
        <th scope="col">Ver</th>
      </tr>
    </thead>

    <tbody *ngFor="let heroe of heroes; let i = index">
      <tr>
        <th scope="row"> {{ heroe.id }} </th>
        <td> {{ heroe.superhero }} </td>
        <td> {{ heroe.alter_ego }} </td>
        <td> {{ heroe.publisher }} </td>
        <td><button
          type="button"
          (click)="cardVisible = i"
          class="btn btn-outline-primary">
          Mas sobre {{ heroe.superhero }}
        </button></td>
      </tr>
      <div 
        *ngIf="cardVisible==i" 
        class="card" 
        name="heroe"
        style="width: 18rem;">

        <div class="card-body">
          <img *ngIf="heroe.alt_img" src="{{ heroe.alt_img }}" class="card-img-top" alt="...">
          <h5 class="card-title"> {{ heroe.superhero }} </h5>
          <p class="card-text">Personajes: {{ heroe.characters }} </p>
          <a (click)="volver()" class="btn btn-primary">Volver</a>
        </div>
      </div>
    </tbody>
  </table>
</div>